[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../commaai/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
[submodule "panda"]
	path = panda
	url = https://github.com/mvl-boston/panda
	branch = c2-mdx
[submodule "opendbc"]
	path = opendbc
	url = https://github.com/mvl-boston/opendbc
	branch = c2-mdx
